.courses{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}
.main{
    width: 600px;
    height: 1000px;
    background-color: #30d5c8;
    border: 4px solid black;
    /*box-shadow: 0px 10px 5px #888888;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
}
.div-design{
    background-color: white;
    border: 4px solid black;
}
.title, .month-duration, .hour-duration, .module{
    font-family: 'RobotoS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    width: 80%;
    height: 40px;
    font-weight: bold;
}
.duration{
    width: 82%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.month-duration{
    width: 20%;
    height: 100%;
}
.hour-duration{
    width: 50%;
    height: 100%;
}
.modules{
    width: 82%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.module{
    width: 80%;
    height: 30px;
}