body{
    background-color: #FFF0D4;
}
.main{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0 0 10px;
}
a{
    width: 50%;
    align-self: center;
    margin-bottom: 8px;
}
button{
    width: 100%;
    background-color: #D5C5A6;
    border: none;
}
button:hover{
    cursor: pointer;
}
.user{
    height: 70px;
    background-color: #F0DFC4;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user li{
    margin-left: 4px;
}